# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
ios/Flutter/Flutter.podspec
android/.gradle/
android/app/google-services.json
android/key.properties

# IDE files
.idea/
.vscode/
*.iml

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/build/

# Windows
windows/.dart_tool/
windows/flutter/ephemeral/
windows/build/

# Web
web/.dart_tool/
web/flutter/ephemeral/
web/build/

# Linux
linux/flutter/ephemeral/
linux/build/

# Xcode files
ios/Pods/
ios/.symlinks/
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/ephemeral/
ios/build/
xcuserdata/

# Firebase (Ignore if using Firebase services)
firebase.json
firebase_app_id_file.json

# Miscellaneous
*.log
*.lock
pubspec.lock
*.swp
*.swo
*.swn

# Secrets (Keep your API keys safe)
.env
*.keystore
*.jks
